.hero{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.container{
    max-width: 1280px;
}

.hero-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-content h1{
    font-size: 35px;
}


.hero-btn{
    display: flex;
    position: relative;
    right: 23%;
    margin-top: 300px;
    gap: 30px;
}

.hero-btn button{
    width: 60px;
}

.shopnow{
    text-align: center;
}

#btn2{
    background-color: transparent;
    color: black;
    border: 1px solid gray;
}

.shopping{
    display: flex;
    /* flex-direction: column; */
    position: relative;
    margin-top: 400px;
    right: 40%;
    gap: 15px;
}

.shopping p {
    width: 80px;
    align-items: center;
    margin-top: 30px;
    text-decoration: underline;
}

.brand-icons{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 6px;
    position: relative;
    margin-top: 55px;
    right: 58%;
    transition: 0.2s ease-in-out;
}

.brand-icons:hover{
    cursor: pointer;
    transition: 0.2s ease-in-out;
}